* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffafa;
  display: flex;
}

section {
  position: fixed;
  width: 20%;
  min-width: 200px;
  height: 100vh;
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  position: relative;
  width: 50%;
  margin: 10% 0 0 0;
}

#container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

section h2 {
  font: normal 400 calc(16px + (36 - 16) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
  margin: 5% 0 0 0;
  text-align: center;
}

section p {
  font: normal 400 calc(12px + (24 - 12) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
  margin: 2% 0 0 0;
  text-align: center;
}

section nav {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30% 0 0 0;
}

section nav a {
  font: normal 400 calc(12px + (24 - 12) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
  text-decoration: none;
  position: relative;
  transform: perspective(1px) translateZ(0);
}

section nav a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #580dba;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

section nav a:hover:before,
section nav a:focus:before,
section nav a:active:before {
  right: 0;
}

section ul {
  list-style: none;
  margin: 50% 0 0 0;
}

section ul a {
  text-decoration: none;
}

.section_link {
  display: flex;
  margin: 7% 0;
  align-items: center;
}

.section_link p {
  font: normal 400 calc(10px + (20 - 10) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
  text-decoration: none;
  margin: 0 0 0 8px;
}

main {
  width: 80%;
  margin: 0 0 0 20%;
}

#page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headline {
  font: normal 600 calc(36px + (48 - 36) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  width: 67%;
  text-align: center;
  margin: 200px auto;
  color: #232b2b;
}

#underline {
  border-bottom: 3px solid #580dba;
  line-height: 44px;
}

#hero {
  position: absolute;
  bottom: 0;
}

.page {
  padding: 100px;
}

.page p {
  font: normal 400 calc(16px + (24 - 16) * ((100vw - 900px) / (1440 -900)))
    "Futura PT";
}

.page_header {
  font: normal 500 calc(36px + (48 - 36) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #fffafa;
}

#page2 {
  background: #580dba;
  background: linear-gradient(180deg, #580dba 25%, #fffafa 25%);
}

#page2 p {
  width: calc(70% - 100px);
}

#page2 #first_paragraph {
  margin: 50px 0 0 0;
}

#page2 #second_paragraph {
  margin: 25px 0 0 0;
}

#page3 {
  background: #f7567c;
  background: linear-gradient(180deg, #f7567c 13%, #fffafa 13%);
}

#skills_table {
  width: 67%;
  border: 3px solid #232b2b;
  border-radius: 25px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

#skills_table h3 {
  font: normal 500 calc(24px + (36 - 24) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
}

#skills_table p {
  font: normal 400 calc(16px + (24 - 16) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
}

.half_table {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 40px 10px;
}

.table_subheader {
  width: 80%;
  text-align: center;
  font: normal 500 calc(20px + (30 - 20) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  border-bottom: 1px solid #f7567c;
}

.half_table h3 {
  margin: 10px 0 0 0;
}

.half_table ul {
  list-style-type: none;
}

.half_table li {
  font: normal 400 calc(16px + (24 - 16) * ((100vw - 900px) / (1440 -900)))
      "Futura PT",
    sans-serif;
  color: #232b2b;
  margin: 20px 0;
}

#design p {
  width: 80%;
  margin: 40px 0 32px 0;
}

#design .table_subheader {
  margin: 40px 0 0 0;
}

#development .table_subheader {
  margin: 40px 0 0 0;
}
